# docker-fluentd

* Fluentd on Ubuntu configured for shipping to Elastic

## Versions
- Ubuntu linux
- Fluentd ${FLUENTD_VERSION}

## Usage

`docker run -p 9880:9880 -e ELASTIC_HOST=elastic-host -e ELASTIC_PORT=9200 --rm -it chrisgarrett/fluentd:${VERSION}`


## Credits
