# docker-fluentd

* Fluend on Apline configured for shipping to Elastic

## Versions
- Alpine linux
- Fluentd ${FLUENTD_VERSION}

## Usage

`docker run --rm chrisgarrett/fluentd:${VERSION}`


## Credits
